/javafutbolee-ejb/target/
/javafutbolee-web/target/
/javafutbolee-ear/target/
/javafutbolee-web/src/main/webapp/node_modules/
/javafutbolee-web/src/main/webapp/bower_components/
/javafutbolee-web/src/main/webapp/npm-debug.log
/javafutbolee-web/src/main/resources/primefaces-dtic_theme/js/
/javafutbolee-web/src/main/resources/primefaces-dtic_theme/theme.css
/javafutbolee-web/src/main/webapp/notes.txt
/javafutbolee-web/src/main/webapp/resources/primefaces-dtic_theme/theme.css
/javafutbolee-web/src/main/webapp/resources/dt1c/css/
/javafutbolee-web/src/main/webapp/resources/dt1c/js/
/javafutbolee-web/src/main/webapp/resources/fonts/