//@import (once) "variables";
.color-rgba(@color, @a: 1) {background: rgba(red(@color), green(@color), blue(@color), @a) !important;}
.fg-color(@color) {color: @color !important;}
.bg-color(@color) {background: @color !important;}
.bd-color(@color) {border-color: @color !important;}
.op-color(@color, @opacity: .7){
    background-color: rgba(red(@color), green(@color), blue(@color), @opacity) !important;
}

//opt
.op-default {
    background-color: rgba(red(@cyan), green(@cyan), blue(@cyan), .7);
}

.op-black {
    .op-color(@black);
}
// Colors : background
.dt1c{
    .bg-black {.bg-color(@black);}
    .bg-white {.bg-color(@white);}
    .bg-dorado {.bg-color(@dorado);}
    .bg-red,.bg-hover-red:hover {.bg-color(@red);}
    .bg-yellow {.bg-color(@yellow);}
    .bg-darkBlue {.bg-color(@darkBlue);}
    .bg-blue {.bg-color(@blue);}
    .bg-lightBlue {.bg-color(@lightBlue);}
    .bg-extraLightBlue {.bg-color(@extraLightBlue);}
    .bg-gray {.bg-color(@gray);}
    .bg-lightGray {.bg-color(@lightGray);}
    .bg-dark {.bg-color(@dark);}
    .bg-darker {.bg-color(@darker);}    
    //
    .bg-steel{.bg-color(@steel);}                  
    .bg-teal{.bg-color(@teal);}  
    .bg-lightOrange{.bg-color(@lightOrange);}  
    .bg-lightRed{.bg-color(@lightRed);}  
    .bg-lightGreen{.bg-color(@lightGreen);}  
    .bg-lighterBlue{.bg-color(@lighterBlue);}  
    .bg-darkOrange{.bg-color(@darkOrange);}  
    .bg-darkRed{.bg-color(@darkRed);}  
    .bg-darkGreen{.bg-color(@darkGreen);}  
    .bg-darkCyan{.bg-color(@darkCyan);}  
    .bg-grayLight{.bg-color(@grayLight);}  
    .bg-grayLighter{.bg-color(@grayLighter);}  
    .bg-cyan{.bg-color(@cyan);}  
    .bg-green{.bg-color(@green);}  
    .bg-orange{.bg-color(@orange);}  
    .bg-lightCyan{.bg-color(@lightCyan);}  
}

// Colors : foreground
.dt1c{
    .fg-black,.fg-hover-black:hover {.fg-color(@black);}
    .fg-white,.fg-hover-white:hover {.fg-color(@white);}
    .fg-dorado,.fg-hover-dorado:hover {.fg-color(@dorado);}
    .fg-red,.fg-hover-red:hover {.fg-color(@red);}
    .fg-yellow,.fg-hover-yellow:hover {.fg-color(@yellow);}
    .fg-lightYellow,.fg-hover-lightYellow:hover {.fg-color(@lightYellow);}
    .fg-darkBlue,.fg-hover-darkBlue:hover {.fg-color(@darkBlue);}
    .fg-blue,.fg-hover-blue:hover {.fg-color(@blue);}
    .fg-lightBlue,.fg-hover-lightBlue:hover {.fg-color(@lightBlue);}
    .fg-extraLightBlue,.fg-hover-extraLightBlue:hover {.fg-color(@extraLightBlue);}
    .fg-gray,.fg-hover-gray:hover {.fg-color(@gray);}
    .fg-lightGray,.fg-hover-lightGray:hover {.fg-color(@lightGray);}
    .fg-dark,.fg-hover-dark:hover {.fg-color(@dark);}
    .fg-darker,.fg-hover-darker:hover {.fg-color(@darker);}

    .fg-steel,.fg-hover-steel{.fg-color(@steel);}                  
    .fg-teal,.fg-hover-teal{.fg-color(@teal);}  
    .fg-lightOrange,.fg-hover-lightOrange{.fg-color(@lightOrange);}  
    .fg-lightRed,.fg-hover-lightRed{.fg-color(@lightRed);}  
    .fg-lightGreen,.fg-hover-lightGreen{.fg-color(@lightGreen);}  
    .fg-lighterBlue,.fg-hover-lighterBlue{.fg-color(@lighterBlue);}  
    .fg-darkOrange,.fg-hover-darkOrange{.fg-color(@darkOrange);}  
    .fg-darkRed,.fg-hover-darkRed{.fg-color(@darkRed);}  
    .fg-darkGreen,.fg-hover-darkGreen{.fg-color(@darkGreen);}  
    .fg-darkCyan,.fg-hover-darkCyan{.fg-color(@darkCyan);}  
    .fg-grayLight,.fg-hover-grayLight{.fg-color(@grayLight);}  
    .fg-grayLighter,.fg-hover-grayLighter{.fg-color(@grayLighter);}  
    .fg-cyan,.fg-hover-cyan{.fg-color(@cyan);}  
    .fg-green,.fg-hover-green{.fg-color(@green);}  
    .fg-orange,.fg-hover-orange{.fg-color(@orange);}  
    .fg-lightCyan,.fg-hover-lightCyan{.fg-color(@lightCyan);} 
}

//primary colors
.dt1c{
    .bg-yellow,.bg-hover-yellow:hover{.bg-color(@yellow);}
    .bg-lightYellow,.bg-hover-lightYellow:hover{.bg-color(@lightYellow);}
    .bg-darkYellow,.bg-hover-darkYellow:hover{.bg-color(@darkYellow);}
}

//border colors
.dt1c{
    .bd-black,.bd-hover-black:hover {.bd-color(@black);}
    .bd-white,.bd-hover-white:hover {.bd-color(@white);}
    .bd-dorado,.bd-hover-dorado:hover {.bd-color(@dorado);}
    .bd-red,.bd-hover-red:hover {.bd-color(@red);}
    .bd-yellow,.bd-hover-yellow:hover {.bd-color(@yellow);}
    .bd-darkBlue,.bd-hover-darkBlue:hover {.bd-color(@darkBlue);}
    .bd-blue,.bd-hover-blue:hover {.bd-color(@blue);}
    .bd-lightBlue,.bd-hover-lightBlue:hover {.bd-color(@lightBlue);}
    .bd-extraLightBlue,.bd-hover-extraLightBlue:hover {.bd-color(@extraLightBlue);}
    .bd-gray,.bd-hover-gray:hover {.bd-color(@gray);}
    .bd-lightGray,.bd-hover-lightGray:hover {.bd-color(@lightGray);}
    .bd-dark,.bd-hover-dark:hover {.bd-color(@dark);}
    .bd-darker,.bd-hover-darker:hover {.bd-color(@darker);}

    .bd-lightRed{.bd-color(@lightRed);} 
}